

@import url("https://uilight.netlify.app/main.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");


:root{
    --primary-color:antiquewhite;
    --secondary-color:rgb(145, 18, 18);
}

body{
    margin: 0;
}


.heading{
    color: var(--secondary-color);
}


.nav-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    background-color: var(--primary-color);
    margin-top:0;
}

ul{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

li{
    margin-left: 2rem;
    cursor: pointer;
    list-style: none;
    color: var(--secondary-color);
}

input{
    border:none;
    border-bottom: 1px solid var(--secondary-color);
    
    background: transparent;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#my-icons{
   
    font-size: 3rem;
    color: white;
 
}

.naming{
    font-size: 1rem;
}

.main{
    display: flex;
    justify-content: space-between;
}


.filter {
    border: 2px solid black;
    margin-left: 2rem;
    width: 20%;
    height: 20rem;
    margin-top: 2rem;
}
.dishes-container{
    border: 2px solid black;
    margin-right: 2rem;
    width: 70%;
    margin-top: 2rem;
}

#dishes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    padding-left: 3.7rem;
    padding-top: 2rem;
}

.card{
    border: 2px solid rgb(107, 106, 106);
    height: 25rem;
    width: 15rem;
    margin-top: 15px;
}

.card-image-container{
    height: 45%;
    width: 100%;
    
}

.card-image{
    height: 100%;
    width: 100%;
}

.recipe-title{
    font-size: 1rem;
    font-weight: bolder;
    
}

.recipe-details{
padding-left:4px;
padding-right:2px;
padding-top: 7px;
display: flex;
flex-direction: column;
align-items: flex-start;

}